<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/shivamsingh/IdeaProjects/BDD_freamework">
        <classes>
            <class name="Runner.Runner"></class>
        </classes>
    </test>
</suite>